<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Админка Мото Друг</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/base.css'%}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}"/>
        <link rel="stylesheet" href="{% static 'css/font-awesome.css'%}">
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Marck+Script" rel="stylesheet">

    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
       <script type="text/javascript">
       // мото псхалка (клик на заднем колесе...)
        $(document).ready(function(){
        $(".ico").click(function(){
            $("#moto").animate({opacity: "0"}, 1200)
            .animate({opacity: "1"}, 1200)
            return false;
          });
        });
    </script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="ico col-md-1 text-center">
                <img id='moto' src="{% static 'img/moto.png'%}">
            </div>
            <div class="col-md-9 text-center">
                <h1>Старый друг лучше новых двух... Админка</h1>

                <h5>Четыре колеса двигают тело. Два колеса двигают душу.</h5>
            </div>
            <div class="col-md-2 text-center">
            </div>
        </div>
        <div class="row">
<nav class="navbar navbar-default col-md-12">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">Главная</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="/admins/"> Пользователи </a></li>
                        <li><a href="admins/review/"> Отзывы </a></li>
                    </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="введите запрос">
                            </div>
                            <button type="submit" class="btn btn-default">Поиск</button>
                        </form>
                </div>
            </nav>
        </div>
        </div>
      <div class="row content">
          <div class="col-md-12 maindiv_adm">
          <diV class='col-md-8'>

              {% block content8 %}
              {% endblock %}

          </diV>
              <div class='col-md-4'>
              {% block content4 %}
              {% endblock %}
          </div>
      </div>
      </div>
    <div class="modal-footer">
        &copy; {% now "Y" %} saltal
    </div>
</div>
</body>
</html>