{%  extends 'base.html' %}

{% block title %}
Дополнительная информация
{% endblock%}
{% block images %}
<img src="/static/img/plant.jpg" alt='Место работы'>
{% endblock %}
{% block shorth3 %}
О фирме ...
{% endblock %}

{% block content %}
<ul class="listing">
    {{ index }}
{% if firms %}

{% for firm in firms %}
<li>

{{ firm.org_name }}<br>
{{ firm.town }}<br>
{{ firm.address }}<br>
{{ firm.email }}<br>
    <h5> Тип деятельности </h5>
{{ firm.desc }}<br>
    {% if firm.sert %}
    <a href = {{ firm.site }} > сайт компании </a><br>
    <img src="{{ firm.sert.url }}" width="100px"><br>
    <a href = {{ firm.sert.url }} > просмотр </a><br>
    {% else %}
<a href = {{ firm.site }} > сайт компании </a><br>
    {% endif %}


{%  endfor %}
</li>
    <br>
{% else %}
<li>{{ nodata }}</li>
{% endif %}

</ul>
{% endblock%}