{%  extends 'base.html' %}

{% block title %}
Учеба
{% endblock%}

{% block images%}
<img src="/static/img/student.jpg" alt='Студент-инженер'>
{% endblock%}

{% block shorth3 %}
Знания...
{% endblock %}

{% block content %}
<ul class="listing">
    {% if learns %}
    {% for place in learns %}
    <li>
        {{ place.year }} <br>
        {{ place.place }} <br>
        {{ place.edu}} <br>
    </li>
    <br>
    {% endfor %}
    {% else %}
    <li>{{ nodata }}</li>
    {% endif %}
</ul>
{% endblock%}