{%  extends 'base.html' %}
{% load staticfiles %}


{%block content%}

        <section class="moduler wrapper_404">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s" >404</h1>
                            <h2 class="wow fadeInUp animated" data-wow-delay=".6s">Опаньки! Кажется у нас проблемы(.</h2>
                            <p class="wow fadeInUp animated" data-wow-delay=".9s">Страница, которая Вами запрошена не существует</p>
                            <a href="/" class="btn btn-dafault btn-home wow fadeInUp animated" data-wow-delay="1.1s">На главную</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
{%  endblock%}