{%  extends 'base.html' %}
{% load staticfiles %}
{%block content%}
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Кратко и по делу</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Главная
                                    </a>
                                </li>
                                <li class="active">Обо мне</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Company Description Section Start
        ================================================== -->
        <section class="company-description">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                        <img src="{% static 'images/about/myfoto.jpg'%}" alt="Мое фото" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">В чем мое отличие</h3>
                            <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                {{ about }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
        <section class="about-feature clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2 class="item_title">
                        Почему со мной выгодно
                        </h2>
                        <p>
                             {{ slogan1 }}
                        </p>
                    </div>
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                        Что вы получаете
                        </h2>
                        <p>
                            {{ slogan2 }}
                        </p>
                    </div>
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                        Только ответсвенный подход
                        </h2>
                        <p>
                            {{ slogan3 }}
                        </p>
                    </div>
                </div>
            </div>
        </section>
{%endblock%}
