{%  extends 'base.html' %}
{% load staticfiles %}


{%block content%}



        <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Специальные предложения</h2>
                            <div class="portfolio-meta">
                               <span>Не забудьте про ваши скидки!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->

            {% for discount in discounts %}
            <section class="portfolio-single">
                <div class="container">
                    <div class="row">
                        <article class="col-md-12">
                            <article   class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                {% if discount.foto %}
                                <img class="img-responsive" alt="" src="{{ discount.foto.url }}">
                                {% endif %}
                            </article>
                            <div class="portfolio-content">
                                <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">
                                    {{ discount.act }}
                                </h3>
                                <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                    {{ discount.text }}
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
{%  empty %}
<p>Контент редактируется</p>
{% endfor %}

{%endblock%}