{%  extends 'base.html' %}
{% load staticfiles %}
{%block content%}
        <!--
        ==================================================
        Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Фото работ</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Главная
                                    </a>
                                </li>
                                <li class="active">Фото работ</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            </section><!--/#Page header-->
            <section id="gallery" class="gallery">
                <div class="container">
                    <div class="row">
                        {% for work in portfolio %}
                        <div class="col-sm-4 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item animated" data-wow-duration="500ms" data-wow-delay="{{work.delay}}ms" style="visibility: visible; animation-duration: 300ms; -webkit-animation-duration: 300ms; animation-delay: 0ms; -webkit-animation-delay: 0ms; animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;">
                                <div class="img-wrapper">
                                    <img src="{{ work.foto.url }}" class="img-responsive" alt="Фото работ">
                                    <div class="overlay">
                                        <div class="buttons">
                                            <a rel="gallery" class="fancybox" href="{{ work.foto.url }}">Просмотр</a>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        {%  empty %}
                   <p>Контент редактируется</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
{%endblock%}