{%  extends 'base.html' %}
{% load staticfiles %}


{%block content%}


        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>Услуги которые я готов оказать</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="/">
                                        <i class="ion-ios-home"></i>
                                        Главная
                                    </a>
                                </li>
                                <li class="active">Услуги</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            Service Page Section  Start
        ================================================== -->
        <section id="service-page" class="pages service-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block">
                            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Почему работа со мной выгодна?</h2>
                            <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">У частного мастера нет никаких наценок, есть возможность всегда подстроится под конкретного клиента. Посмотрите на мои расценки и вы будете приятно удивлены!</p>
                            <div class="row service-parts">
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <i class="ion-ribbon-a"></i>
                                        <h4>Отличное качество</h4>
                                        <p>Долгое время работы на рынке подобных услуг, позволяет предоставлять только проверенные материалы и оборудование.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="800ms">
                                        <i class="ion-happy"></i>
                                        <h4>Лучшая цена на рынке</h4>
                                        <p>Только проверенные материалы, подтвержденные и испытанные временем, оптовая цена за счет моей прямой работы с поставщиком.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block">
                            <img class="img-responsive" src="{% static 'images/santeh_service.jpg'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


<section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover" >
                            <tr>
                                <th>Наименование</th>
                                <th>Описание услуги</th>
                                <th>Объем / Количество</th>
                                <th>Цена</th>
                            </tr>
                        {% for service in services %}
                            <tr>
                                <td class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="{{service.delay}}ms">{{ service.title }}</td>
                                <td class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="{{service.delay}}ms">{{ service.text }}</td>
                                <td class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="{{service.delay}}ms">{{ service.quanty }}.</td>
                                {% if service.price %}
                                <td class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="{{service.delay}}ms">{{  service.price }} руб.</td>
                                {% else %}
                                <td class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="{{service.delay}}ms"> по договоренности.</td>
                                {% endif %}
                            </tr>
                        {% empty %}
                       <p>Контент редактируется</p>
                        {% endfor %}
                            </table>
                    </div>
                </div>
            </div>
</section>

{%endblock%}